h1 {
    color: blue;} 

.intro {
    color:cyan;}

p.intro {
    color: red;}

#introduction {
    color: yellow;}

div p {
    color: orange;}

/* div > p is more specific than div p, so must follow it.  Demonstrate     */
div > p {
     color: green;}
   
div~p {
    color: pink;}    

div+p {
    color: purple;} 
